.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 1rem;
}

button {
    margin-bottom: 1rem;
}